<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
	<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
		<svg class="bi me-2" width="40" height="32">
			<use xlink:href="#bootstrap"/>
		</svg>
		<span class="fs-4">Simple header</span>
	</a>

	<ul class="nav nav-pills">
		<li class="nav-item">
			<a href="{{ path('home.index') }}" class="nav-link active" aria-current="page">Accueil</a>
		</li>
		<li class="nav-item">
			<a href="{{ path('app_ingredient') }}" class="nav-link">Ingrédients</a>
		</li>

		{% if is_granted('ROLE_ADMIN') %}
			<li class="nav-item">
				<a href="{{ path('admin') }}" class="nav-link">Admin</a>
			</li>
		{% endif %}

		<li class="nav-item">
			<a href="{{ path('app_register') }}" class="nav-link">Inscription</a>
		</li>
		<li class="nav-item">
			<a href="{{ path('app_login') }}" class="nav-link">Connexion</a>
		</li>
		<li class="nav-item">
			<a href="{{ path('app_logout') }}" class="nav-link">Déconnection</a>
		</li>
	</ul>
</header>
