{% extends 'base.html.twig' %}

{% block title %}Modification Utilisateur{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center mt-4">Modification</h1>
        {% for message in app.flashes('error') %}
            <div class="text-center alert alert-dismissible  alert-danger mt-4">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                <strong>{{ message }}</strong>
            </div>
        {% endfor %}
        {{ form_start(form) }}

        <div class="form-group">
            {{ form_label(form.username) }}
            {{ form_widget(form.username) }}
            <div class="form-error">
                {{ form_errors(form.username) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.nom) }}
            {{ form_widget(form.nom) }}
            <div class="form-error">
                {{ form_errors(form.nom) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.prenom) }}
            {{ form_widget(form.prenom) }}
            <div class="form-error">
                {{ form_errors(form.prenom) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.bio) }}
            {{ form_widget(form.bio) }}
            <div class="form-error">
                {{ form_errors(form.bio) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.dateNaissance) }}
            {{ form_widget(form.dateNaissance) }}
            <div class="form-error">
                {{ form_errors(form.dateNaissance) }}
            </div>
        </div>
        <p>Vous devez confirmer en mettant votre mot de passe</p>
        <div class="form-group">
            {{ form_label(form.plainPassword) }}
            {{ form_widget(form.plainPassword) }}
            <div class="form-error">
                {{ form_errors(form.plainPassword) }}
            </div>
        </div>


        <div class="form-group d-flex justify-content-center">
            {{ form_row(form.submit) }}
        </div>


        {{ form_end(form) }}
    </div>
{% endblock %}
